<div class='beer-container'>
  <img class='beer-img' src='{{image_url}}' alt='random beer' />
  <div class='beer-info'>
    <a href='/beers/{{id}}'>{{name}}</a>
    <em>{{tagline}}</em>
    <p>{{description}}</p>
  </div>

</div>